*.ast
*.o
.vscode/*
*.out
lab6/build/*
lab7/build/*
lab5/build/*
lab4/build/*
parser.h
parser.cpp
lexer.h
*.ll
*.bin
*.log
*.res
example.sy
example
lexer.cpp
lexer.h
*.ast
*.toks
*.s
lab7/test/performance_test2021-public